html, body {
  height: 100%;
  margin: 0;
  background-color: black;
  font-family: "Kode Mono", monospace;
  display: inline;
  color: white;
}

h1, h2 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


